body {
  color: #2b2d42;
  font-family: Heiti TC;
  background-color: #EFF9FE;
}
pre {
  color: #2b2d42;
  background-color: #EFF9FE;
}
h1, h2, h3, h4, h5, h6 {
  padding-top: 0.8em;
  font-weight: bold;
}
h1.title {
  font-size: 36px;
  font-weight: bold;
  font-weight: 700;
}

h4.date, h4.author {
  padding-top: 0.8em;
  font-weight: bold;
  font-size: 16px;
}

p.caption {
  color: #2b2d42;
  margin-top: 15px;
}


li, p {
  line-height: 1.6;
  font-size: 16px;
  padding-top: 0.5em;
}

li {
    padding-top: 0.25em;
}

p code {
  white-space: inherit;
}

p.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}
.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}
.level1 .header-section-number {
  display: inline-block;
  border-bottom: 3px solid;
}
.level1 h1 {
  border-bottom: 1px solid;
}